/* You can add global styles to this file, and also import other style files */
.mat-toolbar.mat-primary {
  background: #ac6921;
  color: #fff;
}
.button{
  color: #f6f3f0;
  background-color: #ac6921;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1{
  border: none;
  border-radius: 50%;
  background-color: #ac6921;
}
